
.cont{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2{
	font-family: cursive;
	font-size: 4em;
	border-bottom: 15px solid lightblue;
	border-top: 3px groove green;
	/*border-right: 5px solid lightsalmon;*/
	width: 350px;
	text-align: center;
	/*box-shadow: 2px 2px 3px #878787; */
}

img {
	width: 450px;
	height: 300px;
	margin: 7px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.2);

}